<?xml version="1.0"?>
<launch>
  <arg name = "RobotID" default = "1"/>
  <arg name = "xd" default = "0.5"/>
  <arg name = "yd" default = "0.5"/>
  <node name="master" pkg="motion_controller" type="master.py" output="log"/>
    <param name = "RobotID" value = "$(arg RobotID)"/>
    <param name = "xd" value = "$(arg xd)"/>
    <param name = "yd" value = "$(arg yd)"/>
  <node name = "positionController" pkg="motion_controller" type="pos_control.py" output = "screen"/>
</launch>
