<?xml version="1.0"?>
<launch>
  <arg name="PlumeType" default="gaussian"/>
  <arg name="Model" default="gaussian"/>

  <arg name="plotGaussian" default="True"/>

  <!-- Robot_1 -->
  <group ns="Robot_1">
    <node name="gaussianSensorPlatform" pkg="platform_sims" type="gaussianSensorPlatform" output="screen"/>

    <include file="$(find particle_filter)/launch/particle_filter_params.launch">
      <arg name="X_u"         default="4.2672"/>
      <arg name="X_n"         default="0.15"/>

      <arg name="Y_u"         default="2.7432"/>
      <arg name="Y_n"         default="0.15"/>

      <arg name="Z_u"         default="0"/>
      <arg name="Z_l"         default="0"/>
      <arg name="Z_n"         default="0"/>

      <arg name="Q_u"         default="0.001"/>
      <arg name="Q_l"         default="0.00001"/>
      <arg name="Q_n"         default="0.00005"/>

      <arg name="Theta_u" default="0.1"/>
      <arg name="Theta_l" default="-0.1"/>
      <arg name="Theta_n" default="0"/>

      <!-- Just for Gaussian -->
      <arg name="Dy_u" default="0.001"/>
      <arg name="Dy_l" default="0.001"/>
      <arg name="Dy_n" default="0"/>

      <arg name="Dz_u" default="0.0005"/>
      <arg name="Dz_l" default="0.0005"/>
      <arg name="Dz_n" default="0"/>

      <arg name="quadID"      default="1"/>
      <arg name="printOutput" default="screen"/>
      <arg name="PlumeType"   default="$(arg PlumeType)"/>
      <arg name="Model"       default="$(arg Model)"/>
      <arg name="Platform"    default="True"/>
    </include>
  </group>

</launch>
